{%- set shared_menu_en = [
        {
            'name': 'Homepage',
            'url': 'https://openxlab.org.cn/apps/detail/tpoisonooo/huixiangdou-web'  
        }
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name': '主页',
            'url': 'https://openxlab.org.cn/apps/detail/tpoisonooo/huixiangdou-web'  
        }
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
