{%- set shared_menu_en = [
        {
            'name': 'Homepage',
            'url': 'https://opencompass.org.cn/'  
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name': 'Homepage',
            'url': 'https://opencompass.org.cn/'  
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
